In [183]:

import pandas as pd

from sklearn.linear_model import LogisticRegression

data = pd.read_csv("data/titanic/train.csv")
data.head()
df=pd.DataFrame(data)

df.drop(columns=['Cabin','Name','PassengerId','Ticket'],inplace=True)

mediano=df['Age'].median()
df['Age']=df['Age'].fillna(mediano)

df.dropna(subset=['Embarked'],inplace=True)

df_ready=pd.get_dummies(df,columns=['Sex', 'Embarked'],drop_first=True)
model = LogisticRegression(max_iter=1000)
y=df_ready['Survived']
x=df_ready.drop(columns=['Survived'])

model.fit(x,y)

doeta=pd.read_csv("data/titanic/test.csv")
namo=pd.read_csv("data/titanic/names.csv")
ids=pd.read_csv("data/titanic/ids.csv")

median=df['Age'].median()
doeta.drop(columns=['Cabin','Name','PassengerId','Ticket'],inplace=True)
doeta['Age']=doeta['Age'].fillna(median)
mm=doeta['Fare'].median()
doeta['Fare']=doeta['Fare'].fillna(mm)
doeta_ready=pd.get_dummies(doeta,columns=['Sex','Embarked'],drop_first=True)


the_pred=model.predict(doeta_ready)

ids=ids['PassengerId']
namess=pd.read_csv("data/titanic/final_name.csv")
nms=pd.DataFrame(namess)
nms=nms['Names']

final_data={'Name':nms,'PassengerId':ids,'Survived':the_pred}
finalo=pd.DataFrame(final_data)
finalo.dropna(subset=['Name'],inplace=True)
finalo['Status'] = finalo['Survived'].map({1: 'Survived', 0: 'Not Survived'})
finalo.to_csv('data/titanic/final_answer.csv',index=False)

namo.to_csv('data/titanic/final_name.csv',index=False)
finalo.head()

,Name,PassengerId,Survived,Status
0,"Kelly, Mr. James",892,0,Not Survived
1,"Wilkes, Mrs. James (Ellen Needs)",893,0,Not Survived
2,"Myles, Mr. Thomas Francis",894,0,Not Survived
3,"Wirz, Mr. Albert",895,0,Not Survived
4,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",896,1,Survived